<ion-header>
  <ion-toolbar color="danger">
    
    <ion-title text-center padding><h2>My Little Ponies Character Page</h2></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="front">
  <ion-grid>


    <ion-row justify-content-center>
      <ion-col>
      <div *ngFor='let pony of ponyArray'>
          <ion-card padding color="light" [routerLink]="['./',pony.id]">
            <ion-card-content>
              <ion-avatar slot="start">
                <ion-img [src]="pony.imageUrl"></ion-img>

              </ion-avatar>
              <ion-label class="align-items: center">
                <ion-chip  color="danger" margin>
                  {{pony.name}}
                </ion-chip>
              </ion-label>
            </ion-card-content>
           
          </ion-card>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>